* {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #292f33;
}

h3 {
    font-size: 14px;
    margin-bottom: 5px;
}

#thought-log-wrapper {
    min-width: 600px;
    padding: 20px;
    overflow: hidden;
}

.settings-wrapper {
    margin-bottom: 10px;
    overflow: hidden;
}

.settings-wrapper .logout-button{
    float: right;
    cursor: pointer;
    font-size: 10px;
    text-transform: uppercase;
}

.thought-box-wrapper {
    margin-bottom: 20px;
}

.consuming-section {
    clear: both;
    display: flex;
    justify-content: space-around;
}

.recent-thoughts-wrapper {
   width: 30%;
   margin-right: 20px;
}

.explore-wrapper {
    width: 70%;
}

.explore-wrapper .thought-list {
    width: 40%;
}

.thought-list {
    border: 1px solid #eeeeee;
    border-radius: 2px;
}

.thought-textarea {
    min-height: 60px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 5px;
    margin-bottom: 3px;
    line-height: 16px;
    border: 1px solid #dedede;
    overflow: hidden;
    resize: none;
    outline: none;
}

.help-text {
    color: #999999;
}

.theme-box {
    background: #ffffff;
    border: 1px solid #333333;
    border-radius: 2px;
    position: absolute;
    z-index: 2;
    margin-left: 23px;
    margin-top: 36px;
    box-shadow: 1px 1px 2px #dedede;
}

.theme-box .theme {
    color: #00275E;
    padding: 3px 5px 2px 5px;
}

.theme-box .theme.selected {
    color: #ffffff;
    background: #00275E;
}

.thought {
    clear: both;
    padding: 9px;
    border-bottom: 1px solid #eeeeee;
    border-radius: 2px;
    cursor: pointer;
    overflow: hidden;
}

.thought .delete-thought {
    float: right;
    color: #dddddd;
    font-size: 10px;
    letter-spacing: 0.2px;
    cursor: pointer;
    display: none;
}

.thought .delete-thought:hover {
    color: #cc0000;
}

.thought:hover {
    background: #f6f6f6;
}

.thought:hover .delete-thought {
    display: block;
}

.thought:last-child {
    border-bottom: none;
}

.thought-content {
    margin-bottom: 2px;
    word-wrap: break-word;
    font-size: 12px;
    line-height: 15.4px;
    white-space: pre-wrap;
}

.thought-content .theme-tag {
    color: #08959D;
    cursor: pointer;
}

.thought-content .theme-tag:hover {
    color: #0BD2DE;
}

.thought-datetime {
    clear: both;
    display: block;
    color: #8899a6;
    font-size: 10px;
    letter-spacing: 0.2px;
    float: left;
    padding-right: 10px;
}

.button {
    display: block;
    float: left;
    clear: both;
    padding: 5px;
    border-radius: 2px;
    background: #00275E;
    color: #ffffff;
    cursor: pointer;
    font-size: 11px;
    text-transform: lowercase;
}

.login h2 {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

.login-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.login-wrapper .login-button {
    background: #00275E;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    border-radius: 2px;
    text-decoration: none;
    text-transform: uppercase;
    box-shadow: 1px 1px 2px #ccc;
    display: block;
    cursor: pointer;
}

.login-wrapper .login-button:hover {
    background: #333333;
}