<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="cache-control" content="private, max-age=0, no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <title>ThoughtLog</title>
    
    <%if (locals.authToken && locals.brainid) { %>
        <script src="/scripts/bower/react.min.js"></script>
        <script src="/scripts/bower/react-dom.min.js"></script>
        <script src="/scripts/bower/browser.min.js"></script>
        <script src="/scripts/bower/jquery.min.js"></script>
        <script src="/scripts/bower/moment.min.js"></script>
        <script src="/scripts/bower/textarea-caret-position.js"></script>
        <script src="/scripts/bower/lodash.min.js"></script>
  
        <link rel="stylesheet" href="/public/grid.min.css" />
        <link rel="stylesheet" href="/public/main.css" />
    <% } %>
  </head>
  <body>
  
    <%if (locals.authToken && locals.brainid){ %>
        <div id="thought-log-wrapper"></div>
    
        <script>
            localStorage.setItem('authToken', '<%= authToken %>');
            localStorage.setItem('brainid', '<%= brainid %>');
            window.history.pushState('home', 'ThoughtLog', '/');
        </script>
        
        <script src="/scripts/ca$h.js"></script>
        <script type="text/babel" src="/scripts/main.jsx"></script>
    <% } else { %>
        <script>
            if(localStorage.getItem('authToken') && localStorage.getItem('brainid')) {
                var authToken = localStorage.getItem('authToken'),
                    brainid = localStorage.getItem('brainid');
                window.location.replace('/home?authToken=' + authToken + '&brainid=' + brainid);
            } else {
                window.location.replace('/login');
            }
        </script>
    <% } %>
  </body>
</html>